@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  /* font-size: 16px; */
  color: #242424;
  font-family: "Roboto", sans-serif;
}
/*

GENERAL STYLES

*/
p {
  font-size: 16px;
  line-height: 1.5;
}
i {
  color: #fe9992;
}
.click {
  transition: all 300ms ease;
}
.click:hover {
  transform: scale(1.1);
  color: #9992fe;
}
.click:active {
  transform: scale(0.8);
}
.container {
  padding: 50px 0;
  width: 100%;
}
input,
textarea{
  width: 100%;
  outline: none;
  border: 3px solid #FFBFB8;
  border-top: none;
  border-right: none;
  border-left: none;
  height: 40px;
}
input:hover,
textarea:hover{

}
.input:focus,
textarea:focus{
border-color: #fe9992;
}
form{
  width: 100%;
  padding: 0 42px;
}
.form__item{
  margin-bottom: 20px;
}
.form__item--label{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 6px;
}
textarea{
  resize: vertical;
  height: 150px;
  max-height: 320px;
  margin-top: 8px;
}
.row {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 12px;
}
.link__hover{
  position: relative;
}
.link__hover::after{
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  transition: all 300ms ease-in-out;
}
.link__hover:hover::after{
  left: 0;
  width: 100%;
}
.link__hover--pink::after{
background-color: #fe9992;
}
.link__hover--white::after{
  background-color: #fff;
}
/*

NAV STYLES

*/

.logo {
  height: 50px;
  width: 50px;
  font-size: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  height: 100%;
}
.nav__links--list {
  display: flex;
}
.nav__link {
  margin: 0 12px;
}

/*

LANDING PAGE STYLES

*/
#landing-page {
  min-height: 100vh;
}
.header__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title {
  font-size: 120px;
  margin-bottom: 12px;
  text-align: left;
}
.purple {
  color: #fe9992;
}

.blurb__purple {
  font-weight: bold;
}
.header__blurb {
  font-size: 24px;
  line-height: 2;
  max-width: 450px;
}
.social__link {
  margin-top: 16px;
  font-size: 24px;
  padding-right: 10px;
}
.mailTo {
  position: fixed;
  height: 70px;
  width: 70px;
  font-size: 32px;
  background-color: #242424;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  bottom: 32px;
  right: 40px;
}
.mailTo i {
  color: white;
}

.scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll__icon {
  width: 20px;
  height: 30px;
  border: 2px solid #242424;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll__icon::after {
  content: "";
  background-color: #242424;
  width: 4px;
  height: 6px;
  border-radius: 2px;
  animation: scroll 1000ms infinite alternate-reverse;
}
@keyframes scroll {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-3px);
  }
}



/*

MODAL STYLES

*/

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1100px;
  height: 700px;
  box-shadow: 0 20px 80px 0 rgb(255, 231, 230);
  border-radius: 20px;
  overflow: hidden;
  display: flex;

}
.modal__half{
  width: 50%;
  padding: 90px 32px;
}
.modal__about{
  background-color: #E5D0CF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  
}
.modal__about--desc{
  line-height: 1.75;
  padding: 12px 24px 32px 24px;
  color: white
}
.languages__icons--wrapper{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.languages__icons--container{
  max-width:80px; 
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.languages__icons--container:hover .language__name{
  transform: scale(1.2);
  opacity: 0.8;
  transition: all 0.3s ease;
}
.language__name{
    position: absolute;
    bottom: -35px;
    transform:scale(0%);
    transition: all 0.3s ease; 
    font-size: 20px;
    opacity: 0%;
    padding-top: 8px;
}
.language__img{
  width: 100%;
}
.modal__contact{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal__about--title,
.modal__about--sub-title{
  color: white
}
.modal__about--title,
.modal__contact--title{
  font-size: 26px;
  margin-bottom:  8px;
}
.modal__contact--sub-title{
  margin-bottom: 24px;
}
.modal__contact--boop{
  padding: 12px 20px;
  border: none;
  border-radius: 45%;
  background-color: #FFBFB8;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  max-width: 100px;
  cursor: pointer;
  transition: background-color, color 300ms ease;
}
.modal__contact--boop:hover{
  background-color: #fe9992;
  color: white;
}
.modal__contact--boop:active{
  transform: translateY(1px);
}
.modal__contact--boop--container{
  width: 80%;
  display: flex;
  justify-content: end;
  
}
/*

PROJECT STYLES

*/
.section-title {
  text-align: center;
  font-size: 42px;
  padding: 32px 0;
}
.project{
    margin-bottom: 132px;
    /* color: white; */
}
.project__img {
  width: 100%;

  border-radius: 24px;
  transition: all 300ms ease;
}
.project__wrapper:hover .project__desc--wrapper {
  opacity: 1;
  transform: translateY(-50%);
}

.project__wrapper {
  position: relative;
  border-radius: 24px;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
  overflow: hidden;
  /* color: white; */
}
.project__wrapper:hover .project__desc--wrapper {
  opacity: 1;
  transform: translateY(-50%);
}
.project__wrapper:hover .project__img {
  transform: scale(1.07);
  filter: blur(5px);
  /* color: white; */
}
.projects__list {
  margin: 32px;
}
.project__wrapper:hover .project__wrapper--bg {
  opacity: 0.7;
  visibility: visible;
}
.project__wrapper--bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1d25;
  opacity: 0%;
  transition: all 450ms ease;
  visibility: hidden;
}
.project__desc--wrapper {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(100%);
  opacity: 0;
  transition: opacity 300ms, transform 450ms ease;
  /* color: white; */
  max-width: 550px;
}
.project__desc,
.project__desc--sub-title,
.project__desc--title
 {
  max-width: 550px;
  color: white;
}
/*

FOOTER STYLES

*/
footer{
  background-color: #413644;
  display: flex;
  padding: 6% 0;
}
.footer__row{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.footer__logo{
  height: 60px;
  width: 70px;
  margin-bottom: 24px;
}
.footer__social-list{
  width: 100%;
  display: flex;
  justify-content: space-around;
  max-width: 900px;
}
.footer__social--link{
  color: white;
}
.hover-white{
  background-color: white;
}
/* got tired, left off at 10:45 */